<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.admin.data.mapper.DictionaryMapper">

    <resultMap id="dictionaryMap" type="com.example.admin.data.entity.Dictionary">
        <result column="dict_key" property="key"/>
        <result column="dict_value" property="value"/>
        <result column="lang" property="locale"/>
        <result column="description" property="desc"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <insert id="batchInsert" parameterType="java.util.List" useGeneratedKeys="true" >
        insert into tbl_dict(dict_key, dict_value, lang, description) values
        <foreach collection="list" item="dict" separator=",">
            (#{dict.key}, #{dict.value}, #{dict.locale}, #{dict.desc})
        </foreach>
    </insert>

    <update id="batchUpdate" parameterType="java.util.List" >
        <foreach collection="list" item="dict" separator=";">
            update tbl_dict set dict_value=#{dict.value}, description=#{dict.desc}
            where dict_key=#{dict.key} and lang=#{dict.locale}
        </foreach>
    </update>

    <select id="query" parameterType="com.example.admin.data.vo.DictionaryVO" resultMap="dictionaryMap">
        select * from tbl_dict
        <include refid="searchSql" />
        order by dict_key, lang
        <include refid="limitSql" />
    </select>

    <select id="queryCount" parameterType="com.example.admin.data.vo.DictionaryVO" resultType="long">
        select count(1) from tbl_dict
        <include refid="searchSql" />
    </select>

    <sql id="searchSql">
        <where>
            <if test="query!=null">
                and <![CDATA[
                    (dict_key like CONCAT('%',#{query},'%') or dict_value like CONCAT('%',#{query},'%') or description like CONCAT('%',#{query},'%'))
                ]]>
            </if>
        </where>
    </sql>

    <sql id="limitSql">
        <if test="pageOffset!=null">
            limit #{pageOffset}, #{pageSize}
        </if>
    </sql>



</mapper>